/*елементи кошика*/
.basket-pic {
  height: 90px;
}

.basket-pic img {
  max-width: 100%;
  max-height: 100%;
}

/*щоб у лічильнику не відображалися стрілки вгору-вниз*/
.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.number-input {
  width: 60px;
}

/*інакше вони трохи зсунуті вниз*/
svg {
  position: relative;
  top: -2px;
}

.basket__delete-icon {
  display: inline-block;
  position: absolute;
  visibility: hidden;
  left: 80%;
  align-self: center;
  top: -6px;
  height: 10px;
}

.table-row:hover .basket__delete-icon {
  visibility: visible;
}